<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account create</title>
</head>
<body>
    <h1>create account</h1>
    <hr> <br> <br>
    <form method="POST" action="/user/add">
        <label for="id">enter id :</label>
        <input type="text" placeholder="create id" name="id">
        <br> <br>
        <label for="username">enter username :</label>
        <input type="text" name="username" placeholder="enter username..">
        <br> <br>
        <label for="email">enter email :</label>
        <input type="email" name="email" placeholder="enter email....">
        <br> <br>
        <label for="pass">enter pass :</label>
        <input type="password" name="pass" placeholder="create pass..">
        <br> <br>
        <button>create</button>
    </form>
</body>
</html>