<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h2>The Total Number Of Users we have are : <%= count %></h2>
    <form method="POST" action="/user/create">
        <button>join now</button>
    </form>
</body>
</html>