body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #5F0198, #F9E8A2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

h1 {
    color: #060932;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#inp {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

#add {
    padding: 10px 15px;
    background: #060932;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#add:hover {
    background: #3a2a85;
}

.container {
    background: #8f87cb;
    border-radius: 10px;
    padding: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

li:hover {
    background: #eee5e5;
}

.item{
    font-weight: 600;
    text-transform: uppercase;
}

.delete {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.delete:hover {
    background: darkred;
}
