<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Account</title>
</head>
<body>
    <h1><%= msg %></h1>
    <img style="height: 200px; width: 200px;" src="https://th.bing.com/th/id/OIP.fHpoo46_AQOhew76jL5p7wHaHa?rs=1&pid=ImgDetMain" alt="">
</body>
</html>