<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home Page</h1>
    <h3><%= 1 + 4 %></h3>
    <h3><%= "yuvi".toUpperCase() %></h3>
    <h3><%= ["hello", "bonjour", "namaste"][2] %></h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eum consequuntur dignissimos suscipit consectetur? Ipsa esse numquam vel dolor necessitatibus. Porro, sequi quisquam laborum eum consectetur obcaecati voluptates magni voluptas sunt magnam? Excepturi, doloremque! Eos earum ratione sint tempore ullam obcaecati ab aperia
        m minus totam. Fugit quos sit tenetur cupiditate corrupti perspiciatis at labore non aperiam ex. Iusto architecto beatae eum tempore neque provident consequatur quasi quas fuga qui molestiae consectetur facilis nemo fugiat nesciunt temporibus vel cumque a, est cupiditate laboriosam exercitationem expedita. Non, beatae possimus. Tempora, corporis. Beatae, perferendis laborum. Rem quae quas, eaque qui temporibus atque ea reiciendis consequuntur accusantium sapiente reprehenderit assumenda sequi ullam quidem vero repudiandae libero illo porro voluptate obcaecati? Iusto, consequatur placeat id tempora vero nostrum. Enim commodi sunt ipsa magnam, repellendus aut maxime illo eius nisi ullam quam perferendis odio asperiores adipisci dolorum doloremque dolore quibusdam accusamus non repudiandae minima cupiditate. Eos amet perferendis architecto voluptatem unde iste explicabo cumque autem. Exercitationem praesentium accusamus repellat quisquam eaque excepturi quaerat inventore numquam? Recusandae, quisquam accusantium maxime beatae eveniet id cum reiciendis tempora facere sunt, aliquam nam maiores enim molestiae assumenda praesentium consequatur illo fugit sit sequi ipsam tempore eum repellendus odio! Fugiat, incidunt.
    </p>

    <button>
        click me :)
    </button>
</body>
</html>