*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: #1671E9;
}

.userbtn{
    background-color: aqua;
    column-rule-color: black;
    
}

#searchbtn{
    background-color: black;
    color: white;
}





