#box{
    height: 100px;
    width: 250px;
    background-color: pink;
    text-align: center;
    margin: 10px auto;
    transition: all 2s ease 0.5s;
}

#box:hover{
    box-shadow: 3px 3px 6px rgb(51, 21, 21);
    transform: rotate(20deg) translateY(250px);
    border-radius: 50px;
    color: rgb(149, 22, 68);
    font-family:cursive;
    font-size: x-large;
}