body {
    font-family: Arial, sans-serif;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #b92b27;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #a12724;
}